:host ::ng-deep .mtx-grid {
  //height: 600px;
  height: calc(100vh - 215px);

}

:host ::ng-deep .label {
  //padding: 5px 10px;
  //border-radius: 999px;
  //background-color: #ffb74d;
  font-size: 10px;
}

:host {
  --mat-table-row-item-container-height: 1.5rem;
  --mat-table-header-container-height: 1.5rem;
  }

  .box {
    border: 4px solid #f76707;
    border-radius: 5px;
    padding: 10px;
    inline-size: 150px;
    overflow: hidden;
  }

  :host ::ng-deep .mat-card-content {
  overflow-y: scroll;
  max-height: 50px;
}
.center_item {
  font: 1.2em sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mtx-select.custom ::ng-deep .mtx-select-container  {
  min-height: 0px;
  border-radius: 0;
}
.label{
  display:inline-block!important;
  text-overflow:ellipsis!important;
  overflow:hidden!important;
  width:100%!important;
}


