 <div style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;position:absolute;height:100%;width:100%;top:0px;left:0px;right:0px;bottom:0px">
    <div class="div-cotent" style="background-color:blue; overflow:hidden;overflow-x:hidden;overflow-y:hidden;position:absolute;height:85%;width:100%;top:0px;left:0px;right:0px;bottom:0px">
        <div class="divAna" style="height:100%;">
            <div #menuAnalise id="menuAnalise" class="pr-1" style="background-color:rgb(255, 255, 255);width:100%;height:100%;">          
                <div class="card-body p-1" style="font-size:2rem; background-color: rgb(255, 103, 56);text-align: center; height:2rem;width:100%;"> <strong>Aguardando Análise</strong></div>
                <div class="card text-white" #listaAnalise id="listaAnalise"></div>
            </div>
        </div>
        <div class="divExec" style="height:100%;">
            <div #menuExecucao id="menuExecucao" class="pr-1" style="background-color:rgb(255, 255, 255);width:100%;height:100%;">   
                <div class="card-body p-1" style="font-size:2rem; background-color: #0fa30a; text-align: center; height:2rem;"> <strong>Aguardando Execução</strong></div>          
                <div class="card text-white" #listaExecucao id="listaExecucao"></div>
            </div>
        </div>
    </div>
    <div style="background-color:rgb(255, 255, 255); overflow:hidden;overflow-x:hidden;overflow-y:hidden;position:absolute;height:15%;width:100%;bottom:0px">          
        <div class="row p-0" style="height: 100%;">
            <div class="col-sm-12">
                <div class="row p-0" style="height:100%; top:5px;">
                    <div class="col-sm p-0" style="height: 100%;">
                        <div class="card pb-0 pt-3 text-white bg_solicitado" style="height: 100%;">
                          <div class="card-body pb-0">
                            <div style="font-size:3rem;">{{ this.totais.totalSolicitado }}</div>
                            <div style="font-size:1.15rem;padding-top: 16px;font-weight: bold;">Solicitado</div>
                          </div>
                        </div>
                    </div><!--/.col-->
                    
                    <div class="col-sm p-0" style="height: 100%;">
                        <div class="card pb-0 pt-3 text-white bg_ap_gestor" style="height: 100%;">
                          <div class="card-body pb-0">
                            <div style="font-size:3rem;">{{ this.totais.totalAprovacaoGestor }}</div>
                            <div style="font-size:1.15rem;padding-top: 16px;font-weight: bold;">Aprovação Gestor</div>
                          </div>
                        </div>
                    </div><!--/.col-->

                    <div class="col-sm p-0" style="height: 100%;">
                        <div class="card pb-0 pt-3 text-white bg_ag_requisitos" style="height: 100%;">
                          <div class="card-body pb-0">
                            <div style="font-size:3rem;">{{ this.totais.totalAnaliseRequisitos }}</div>
                            <div style="font-size:1.15rem;padding-top: 16px;font-weight: bold;">Analise de Requisitos</div>
                          </div>
                        </div>
                    </div><!--/.col-->

                    <div class="col-sm p-0" style="height: 100%;">
                      <div class="card pb-0 pt-3 text-white bg_em_an_requisitos" style="height: 100%;">
                        <div class="card-body pb-0">
                          <div style="font-size:3rem;">{{ this.totais.totalEmAnalise }}</div>
                          <div style="font-size:1.15rem;padding-top: 16px;font-weight: bold;">Em Analise</div>
                        </div>
                      </div>
                  </div><!--/.col-->

                  <div class="col-sm p-0" style="height: 100%;">
                    <div class="card pb-0 pt-3 text-white bg_pausado" style="height: 100%;">
                      <div class="card-body pb-0">
                        <div style="font-size:3rem;">{{ this.totais.totalPausado }}</div>
                        <div style="font-size:1.15rem;padding-top: 16px;font-weight: bold;">Pausado</div>
                      </div>
                    </div>
                </div><!--/.col-->

                    <div class="col-sm p-0" style="height: 100%;">
                        <div class="card pb-0 pt-3 text-white bg_ag_validacao" style="height: 100%;">
                          <div class="card-body pb-0">
                            <div style="font-size:3rem;">{{ this.totais.totalValidacao }}</div>
                            <div style="font-size:1.15rem;padding-top: 16px;font-weight: bold;">Validação</div>
                          </div>
                        </div>
                    </div><!--/.col-->

                    <div class="col-sm p-0" style="height: 100%;">
                        <div class="card pb-0 pt-3 text-white bg_reprovado" style="height: 100%;">
                          <div class="card-body pb-0">
                            <div style="font-size:3rem;">{{ this.totais.totalReprovado }}</div>
                            <div style="font-size:1.15rem;padding-top: 16px;font-weight: bold;">Reprovado</div>
                          </div>
                        </div>
                    </div><!--/.col-->

                    <div class="col-sm p-0" style="height: 100%;">
                        <div class="card pb-0 pt-3 text-white bg_ag_execucao" style="height: 100%;">
                          <div class="card-body pb-0">
                            <div style="font-size:3rem;">{{ this.totais.totalAguardandoExecucao }}</div>
                            <div style="font-size:1.15rem;padding-top: 16px;font-weight: bold;">Aguardando Execução</div>
                          </div>
                        </div>
                    </div><!--/.col-->
                    <div class="col-sm p-0" style="height: 100%;">
                        <div class="card pb-0 pt-3 text-white bg_em_execucao" style="height: 100%;">
                          <div class="card-body pb-0">
                            <div style="font-size:3rem;">{{ this.totais.totalEmExecucao }}</div>
                            <div style="font-size:1.15rem;padding-top: 16px;font-weight: bold;">Em Execução</div>
                          </div>
                        </div>
                    </div><!--/.col-->

                    <div class="col-sm p-0" style="height: 100%;">
                        <div class="card pb-0 pt-3 text-white bg-dark" style="height: 100%;">
                          <div class="card-body pb-0">
                            <div style="font-size:3rem;">{{ this.totais.total }}</div>
                            <div style="font-size:1.15rem;padding-top: 16px;font-weight: bold;">Total</div>
                          </div>
                        </div>
                    </div><!--/.col-->
                </div>
            </div>
        </div>
    </div>
    <div style="background-color:rgb(224, 243, 248); overflow:hidden;overflow-x:hidden;overflow-y:hidden;position:absolute;height:4%;width:100%;bottom:0px">
    </div>
</div>
<!--style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;position:absolute;height:100%;width:100%;top:0px;left:0px;right:0px;bottom:0px"-->