.mat-mdc-button-base {
  margin: 4px;
}

mtx-alert {
  position: sticky;
  top: 64px;
  z-index: 10;
}

@media (width <= 599px) {
  mtx-alert {
    top: 56px;
  }
}

mat-card-header{
  background-color: rgba(171, 178, 185, 0.5);
}

.containerChamadoUsuario {
    display: flex;
    padding-top: 5px;
}

.chamadoPendente{
       // background-color:rgba(249, 231, 159, 0.30);
       background-color:light-dark(rgb(249, 231, 159), rgba(241, 249, 159, 0.0));
       color: light-dark(#005cbb,#ffea03);
     }

.slaVencido{
        --p-progressbar-value-background: red;
        --p-progressbar-height: 20px;
     }

.slaDentro{
        --p-progressbar-value-background: #2eb85c;
        --p-progressbar-height: 20px;
     }

.slaAVencer{
        --p-progressbar-value-background: #f9b115;
        --p-progressbar-height: 20px;
     }

.grab {cursor: pointer;}

.glowing-circle {
    width: 20px;
    height: 20px;
    border-radius:50%;
    background-color: #ff4d4d;
    -webkit-animation: glowing 1s ease-in-out infinite alternate;
    -moz-animation: glowing 1s ease-in-out infinite alternate;
    animation: glowing 1s ease-in-out infinite alternate;
  }
  @keyframes glowing {
    from {
      box-shadow: 0 0 10px rgb(255, 172, 172), 0 0 20px #ff0000, 0 0 30px rgb(255, 0, 0), 0 0 40px #0ff, 0 0 50px #ff0000, 0 0 60px #ff0000, 0 0 70px #ff0000;
    }
    to {
      box-shadow: 0 0 20px #fff, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 60px #ff0000, 0 0 70px #ff0000, 0 0 80px #ff0000;
    }
  }


.state_red {
	background: red;
	border-radius: 50%;
	margin: 10px;
	height: 10px;
	width: 10px;

	box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
	transform: scale(1);
	animation: pulse_red 2s infinite;
}

@keyframes pulse_red {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 0, 0, 0.7);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
	}
}

.state_blue {
	background: blue;
	border-radius: 50%;
	margin: 0px;
	height: 10px;
	width: 10px;

	box-shadow: 0 0 0 0 rgba(0, 21, 255, 0.7);
	transform: scale(1);
	animation: pulse_blue 2s infinite;
}

@keyframes pulse_blue {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 21, 255, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 21, 255, 0.7);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 21, 255, 0.7);
	}
}

.state_yellow {
	background: yellow;
	border-radius: 50%;
	margin: 10px;
	height: 20px;
	width: 20px;

	box-shadow: 0 0 0 0 rgb(208, 255, 0);
	transform: scale(1);
	animation: pulse_yellow 2s infinite;
}

@keyframes pulse_yellow {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgb(208, 255, 0);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgb(208, 255, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgb(208, 255, 0);
	}
}

