<mat-card id="chamadosUsuario">
  <mat-card-header>
    <mat-card-title>Chamados finalizados no mês (Participações)</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="p-x-8 text-center">
      <div class="row">
         @for (chamadoUser of ChamadosUsuarios; track chamadoUser) {
            <div class="col-sm-6">
              <div class="containerChamadoUsuario">
                &nbsp;
                    <p-avatar [image]="chamadoUser.foto" size="normal" shape="circle" />
                    <div class="containerChamadoUsuario">
                      <span style="color:rgba(86, 101, 115)">
                        <b>
                          &nbsp;{{chamadoUser.nome}}
                        </b>
                      </span>
                    </div>
                  </div>
                    <div class="containerChamadoUsuario">
                      <b>
                        &nbsp;Total:&nbsp;{{chamadoUser.total}}
                        &nbsp;Incidente:&nbsp;{{chamadoUser.total_incidente}}
                        &nbsp;Requisições:&nbsp;{{chamadoUser.total_requisicao}}
                      </b>
                    </div>
                    <mat-divider/>
            </div>
         }

      </div>
    </div>
  </mat-card-content>
</mat-card>

<div class="card flex items-center gap-2 flex-wrap" >
  @if (chamadosAnaRequisitos.length > 0) {
    <p-button (click)="scrooltoElement('analiseRequisitos')" label="Analise de Requisitos" badge="{{chamadosAnaRequisitos.length}}" />
    &nbsp;
  }
  @if (chamadosPausado.length > 0) {
    <p-button (click)="scrooltoElement('pausado')" label="Pausado" badge="{{chamadosPausado.length}}" />
    &nbsp;
  }
  @if (chamadosParaExecucao.length > 0) {
     <p-button (click)="scrooltoElement('execucao')" label="Para Execução" badge="{{chamadosParaExecucao.length}}" />
     &nbsp;
  }
  @if (chamadosEmExecucao.length > 0) {
    <p-button (click)="scrooltoElement('emexecucao')" label="Em Execução" badge="{{chamadosEmExecucao.length}}" />
    &nbsp;
  }
  @if (chamadosAprovacaoGestor.length > 0) {
    <p-button (click)="scrooltoElement('aprovacao')" label="Aprovação Gestor" badge="{{chamadosAprovacaoGestor.length}}" />
    &nbsp;
  }
  @if (chamadosValidacao.length > 0) {
    <p-button (click)="scrooltoElement('validacao')" label="Validação" badge="{{chamadosValidacao.length}}" />
    &nbsp;
  }
  @if (chamados.length > 0) {
    <p-button (click)="scrooltoElement('outros')" label="Outros" badge="{{chamados.length}}" />
   &nbsp;
  }
  <p-button title="Atualizar Listas" icon="pi pi-refresh" (click)="carregarRequisicoes()"/>

</div>

<br>

@if (chamadosAnaRequisitos.length > 0) {
  <mat-card id="analiseRequisitos">
      <mat-card-header>
        <mat-card-title>Análise de Requisitos Pendentes</mat-card-title>
        &nbsp;<mat-icon class="grab" title="Ir para Menu"  (click)="scrooltoElement('chamadosUsuario')">keyboard_arrow_up</mat-icon>
      </mat-card-header>
      <mat-card-content>
        <p-table
           [value]="chamadosAnaRequisitos"
           stripedRows
           [tableStyle]="{ 'min-width': '40rem' }"
           [size]="'small'"
           >
      <ng-template #header>
          <tr>
              <th style="width:5%; padding: 0;">Id</th>
              <th style="width:65%; padding: 0;">Titulo </th>
              <th style="width:20%; padding: 0;">Técnico </th>
              <th style="width:10%; padding: 0;"></th>
          </tr>
      </ng-template>
      <ng-template #body let-ch>
          <tr>
              <td>
                {{ ch.idChamado }}
              </td>
              <td>
                <a class="noDecoreble" href="{{ ch.url }}" target="_blank" style="text-decoration:none;display:block;">
                  <span [ngClass]="{chamadoPendente: ch.snPendente == 'S'}">{{ ch.titulo | titlecase}}</span>
                </a>
             </td>
             <td>
              <div class="card flex justify-center">
                <p-avatar-group>
                 @for (tecnico of ch.tecnicos; track tecnico) {
                  <p-avatar [image]="tecnico.foto" size="normal" shape="circle" />
                 }
                </p-avatar-group>
              </div>
            </td>
            <td>
                <p-progressbar [value]="slaRequisitosPercentual(ch)" [ngClass]="slaRequisitosCorAnalise(ch)">
                  <ng-template #content let-value>
                    <span title="{{slaRequisitosTempoAnalise(ch)}} dia(s) pendente de Analise">{{slaRequisitosTempoAnalise(ch)}}</span>
                  </ng-template>
                </p-progressbar>
            </td>
          </tr>
      </ng-template>
  </p-table>
      </mat-card-content>
</mat-card>
}

@if (chamadosPausado.length > 0) {
   <mat-card id="pausado" #pausado>
      <mat-card-header>
        <mat-card-title>Pausado</mat-card-title>
        &nbsp;<mat-icon class="grab" title="Ir para Menu"  (click)="scrooltoElement('chamadosUsuario')">keyboard_arrow_up</mat-icon>
      </mat-card-header>
      <mat-card-content>
        <p-table
           [value]="chamadosPausado"
           stripedRows
           [tableStyle]="{ 'min-width': '40rem' }"
           [size]="'small'"
           >
      <ng-template #header>
          <tr>
              <th style="width:5%; padding: 0;">Id</th>
              <th style="width:95%; padding: 0;">Titulo </th>
          </tr>
      </ng-template>
      <ng-template #body let-ch>
          <tr>
              <td>{{ ch.idChamado }}</td>
              <td>
                <a class="noDecoreble" href="{{ ch.url }}" target="_blank" style="text-decoration:none;display:block;">
                  <span [ngClass]="{chamadoPendente: ch.snPendente == 'S'}">{{ ch.titulo | titlecase}}</span>
                </a>
             </td>
          </tr>
      </ng-template>
  </p-table>
      </mat-card-content>
</mat-card>
}

@if (chamadosParaExecucao.length > 0) {
   <mat-card  id="execucao" #execucao>
      <mat-card-header>
        <mat-card-title>Execução Pendente</mat-card-title>
        &nbsp;<mat-icon class="grab" title="Ir para Menu"  (click)="scrooltoElement('chamadosUsuario')">keyboard_arrow_up</mat-icon>
      </mat-card-header>
      <mat-card-content>
        <p-table
           [value]="chamadosParaExecucao"
           stripedRows
           [tableStyle]="{ 'min-width': '40rem' }"
           [size]="'small'"
           >
      <ng-template #header>
          <tr>
              <th style="width:5%; padding: 0;">Id</th>
              <th style="width:95%; padding: 0;">Titulo </th>
          </tr>
      </ng-template>
      <ng-template #body let-ch>
          <tr>
              <td>{{ ch.idChamado }}</td>
              <td>
                <a class="noDecoreble" href="{{ ch.url }}" target="_blank" style="text-decoration:none;display:block;">
                  <span [ngClass]="{chamadoPendente: ch.snPendente == 'S'}">{{ ch.titulo | titlecase}}</span>
                </a>
             </td>
          </tr>
      </ng-template>
  </p-table>
      </mat-card-content>
</mat-card>
}

@if (chamadosEmExecucao.length > 0) {
   <mat-card id="emexecucao" #emexecucao>
      <mat-card-header>
        <mat-card-title>Em Execução</mat-card-title>
        &nbsp;<mat-icon class="grab" title="Ir para Menu"  (click)="scrooltoElement('chamadosUsuario')">keyboard_arrow_up</mat-icon>
      </mat-card-header>
      <mat-card-content>
        <p-table
           [value]="chamadosEmExecucao"
           stripedRows
           [tableStyle]="{ 'min-width': '40rem' }"
           [size]="'small'"
           >
      <ng-template #header>
          <tr>
              <th style="width:5%; padding: 0;">Id</th>
              <th style="width:85%; padding: 0;">Titulo </th>
              <th style="width:10%; padding: 0;">Técnico </th>
          </tr>
      </ng-template>
      <ng-template #body let-ch>
          <tr>
              <td>{{ ch.idChamado }}</td>
              <td>
                <a class="noDecoreble" href="{{ ch.url }}" target="_blank" style="text-decoration:none;display:block;">
                  <span [ngClass]="{chamadoPendente: ch.snPendente == 'S'}">{{ ch.titulo | titlecase}}</span>
                </a>
             </td>
             <td>
              <div class="card flex justify-center">
                <p-avatar-group>
                 @for (tecnico of ch.tecnicos; track tecnico) {
                  <p-avatar [image]="tecnico.foto" size="normal" shape="circle" />
                 }
                </p-avatar-group>
              </div>
            </td>
          </tr>
      </ng-template>
  </p-table>
      </mat-card-content>
</mat-card>
}

@if (chamadosAprovacaoGestor.length > 0) {
   <mat-card id="aprovacao" #aprovacao>
      <mat-card-header>
        <mat-card-title>Aguardando Aprovação do Gestor</mat-card-title>
        &nbsp;<mat-icon class="grab" title="Ir para Menu"  (click)="scrooltoElement('chamadosUsuario')">keyboard_arrow_up</mat-icon>
      </mat-card-header>
      <mat-card-content>
        <p-table
           [value]="chamadosAprovacaoGestor"
           stripedRows
           [tableStyle]="{ 'min-width': '40rem' }"
           [size]="'small'"
           >
      <ng-template #header>
          <tr>
              <th style="width:5%; padding: 0;">Id</th>
              <th style="width:95%; padding: 0;">Titulo </th>
          </tr>
      </ng-template>
      <ng-template #body let-ch>
          <tr>
              <td>{{ ch.idChamado }}</td>
              <td>
                <a class="noDecoreble" href="{{ ch.url }}" target="_blank" style="text-decoration:none;display:block;">
                  <span [ngClass]="{chamadoPendente: ch.snPendente == 'S'}">{{ ch.titulo | titlecase}}</span>
                </a>
             </td>
          </tr>
      </ng-template>
  </p-table>
      </mat-card-content>
</mat-card>
}

@if (chamadosValidacao.length > 0) {
   <mat-card id="validacao" #validacao>
      <mat-card-header>
        <mat-card-title>Aguardando Validação</mat-card-title>
        &nbsp;<mat-icon class="grab" title="Ir para Menu"  (click)="scrooltoElement('chamadosUsuario')">keyboard_arrow_up</mat-icon>
      </mat-card-header>
      <mat-card-content>
        <p-table
           [value]="chamadosValidacao"
           stripedRows
           [tableStyle]="{ 'min-width': '40rem' }"
           [size]="'small'"
           >
      <ng-template #header>
          <tr>
              <th style="width:5%; padding: 0;">Id</th>
              <th style="width:95%; padding: 0;">Titulo </th>
          </tr>
      </ng-template>
      <ng-template #body let-ch>
          <tr>
              <td>{{ ch.idChamado }}</td>
              <td>
                <a class="noDecoreble" href="{{ ch.url }}" target="_blank" style="text-decoration:none;display:block;">
                  <span [ngClass]="{chamadoPendente: ch.snPendente == 'S'}">{{ ch.titulo | titlecase}}</span>
                </a>
             </td>
          </tr>
      </ng-template>
  </p-table>
      </mat-card-content>
</mat-card>
}

@if (chamados.length > 0) {
   <mat-card id="outros" #outros>
      <mat-card-header>
        <mat-card-title>Outras Requisições</mat-card-title>
        &nbsp;<mat-icon class="grab" title="Ir para Menu"  (click)="scrooltoElement('chamadosUsuario')">keyboard_arrow_up</mat-icon>
      </mat-card-header>
      <mat-card-content>
        <p-table
           [value]="chamados"
           stripedRows
           [tableStyle]="{ 'min-width': '40rem' }"
           [size]="'small'"
           >
      <ng-template #header>
          <tr>
              <th style="width:5%; padding: 0;">Id</th>
              <th style="width:95%; padding: 0;">Titulo </th>
          </tr>
      </ng-template>
      <ng-template #body let-ch>
          <tr>
              <td>{{ ch.idChamado }}</td>
              <td>
                <a class="noDecoreble" href="{{ ch.url }}" target="_blank" style="text-decoration:none;display:block;">
                  <span [ngClass]="{chamadoPendente: ch.snPendente == 'S'}">{{ ch.titulo | titlecase}}</span>
                </a>
             </td>
          </tr>
      </ng-template>
  </p-table>
      </mat-card-content>
</mat-card>
}
