
<mat-card>
  <mat-card-header class="m-b-16">
    <mat-card-title>Informativo</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="reactiveForm" class="form-field-full">
      <div class="row">
        <div class="col-sm-12 col-xl-12">
          <mat-form-field>
            <mat-label>Descrição</mat-label>
            <input matInput placeholder="Descricao do Informativo"
            formControlName="descricao" required
            (dateChange) = "dataChange($event)">
            @if (reactiveForm.get('descricao')?.invalid) {
              <mat-error>Informe a descrição</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-sm-4 col-xl-43">
          <mat-form-field>
              <mat-label>Data e Hora de Inicio</mat-label>
              <mtx-datetimepicker-toggle [for]="datetimePickerStart" matSuffix />
              <mtx-datetimepicker
                        #datetimePickerStart
                        startView="month"
                        [timeInterval]="1"
                        />
              <input [mtxDatetimepicker]="datetimePickerStart"
                     (dateChange) = "dataChange($event)"
                autocomplete="false" formControlName="dtInicio" matInput required>
              @if (reactiveForm.get('dtInicio')?.errors?.required) {
                <mat-error>obrigatorio</mat-error>
              }
              @if (reactiveForm.get('dtInicio')?.errors?.mtxDatetimepickerMin) {
                <mat-error>min</mat-error>
              }
              @if (reactiveForm.get('dtInicio')?.errors?.mtxDatetimepickerMax) {
                <mat-error>max</mat-error>
              }
         </mat-form-field>
        </div>
        <div class="col-sm-4 col-xl-4">
          <mat-form-field>
              <mat-label>Data e Hora Final</mat-label>
              <mtx-datetimepicker-toggle [for]="datetimePickerEnd" matSuffix />
              <mtx-datetimepicker #datetimePickerEnd
                startView="month"
                [timeInterval]="1"
               />
              <input [mtxDatetimepicker]="datetimePickerEnd"
                     [min]="informativo.dtInicio"
                     (dateChange) = "dataChange($event)"
                     autocomplete="false"
                     formControlName="dtFinal"
                     matInput required>
              @if (reactiveForm.get('dtFinal')?.errors?.required) {
                <mat-error>obrigatorio</mat-error>
              }
              @if (reactiveForm.get('dtFinal')?.errors?.mtxDatetimepickerMin) {
                <mat-error>min</mat-error>
              }
              @if (reactiveForm.get('dtFinal')?.errors?.mtxDatetimepickerMax) {
                <mat-error>max</mat-error>
              }
         </mat-form-field>
        </div>

        <div class="col-sm-12 col-xl-12">
          <div>
            <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
            <div class="file-upload">
                <button mat-mini-fab color="primary" class="upload-btn"
                  (click)="fileUpload.click()">
                    <mat-icon>attach_file</mat-icon>
                </button>
                &nbsp;<b> {{ fileName || "Nenhum informativo (Imagem) enviada" }} </b>
            </div>
          </div>
            <div class="imagem-upload">
              <img class="imagem" width="650" height="450">
            </div>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button mat-flat-button (click) = "salvar()">Salvar</button>
        <label>&#160;&#160;&#160;</label>
        <button mat-flat-button mat-dialog-close="cancelado">Cancelar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

