<div id="conteudo" #conteudo style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;position:absolute;height:100%;width:100%;top:0px;left:0px;right:0px;bottom:0px">
  
  <div id="menus"  class="pr-1" style="height:100%;width:100%;">
    <div #menuChamados  *ngIf="snApresentaChamados" id="menuChamados" class="pr-1 divChamado" style="background-color:rgb(255, 255, 255);width:100%">          
      <div class="card-body p-1" style="font-size:2rem; background-color: azure; text-align: center; height:2rem;"> 
        <strong>Chamados</strong>
      </div>          
        <div class="card text-white" #listaIncidente id="listaIncidente"></div>
    </div>
    
    <div id="menuMonitoramento">
      <div class="card-body p-1" style="font-size:2rem; background-color: azure; text-align: center; height:2rem;"> 
        <strong>Monitoramento</strong>
      </div> 
        <div id="viewservidor" class="pr-1" style="width:100%">   
          <c-row>
            <c-col xs>
              <c-card class="mb-4">
                <c-card-header><strong>Monitoramento Servidores</strong></c-card-header>
                <c-card-body>
                  <table
                    [hover]="true"
                    [responsive]="true"
                    [striped]="true"
                    align="middle"
                    cTable
                    class="mb-0 border"
                  >
                    <thead cTableColor="light">
                    <tr>                  
                      <th>Servidor</th>
                      <th>Load</th> 
                      <th>Uso Disco</th>                 
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let servidor of servidores; index as i">
                      <td class="text-align">
                        <span>{{ servidor.dsservidor }}</span>
                      </td>
                      <td class="text-align">                   
                        <c-progress thin [height]="20">
                          <c-progress-bar
                          [value]= "usoCpuToNumero(servidor.cpuload)"                       
                            color="{{usoCpuCor(servidor.cpuload)}}"
                            [max] = "3"
                            showValue
                            class="overflow-visible text-dark px-2"
                          >
                          <span><strong>{{ servidor.cpuload }}</strong></span>
                        </c-progress-bar>
                        </c-progress>
                      </td>
                      <td class="text-center">                    
                        <c-progress thin [height]="20">
                          <c-progress-bar
                            [value]= "usoDiscoToNumero(servidor.usodisco)"                       
                            color="{{usoDiscoCor(servidor.usodisco)}}"
                            showValue
                            class="overflow-visible text-dark px-2"
                            id="{{'pb'+servidor.codservidor}}"
                            [animated]="snProgressAnimado('pb'+servidor.codservidor)"     
                            >
                          <span><strong>{{ servidor.usodisco }}</strong></span>
                        </c-progress-bar>
                        </c-progress>
                      </td>                  
                    </tr>
                    </tbody>
                  </table>
                </c-card-body>
              </c-card>
            </c-col>
            <c-col xs>
              <c-card class="mb-4" 
                      [color]="retornaCorTabelaLock(totalLocks)"
                      [textColor]="retornaCorTextoTabelaLock(totalLocks)"
                      >
                <c-card-header><strong>Monitoramento de Lock {{totalLocks > 0 ? totalLocks+' em andamento':''}} {{locksTempoMaior >= 10 ?' (Existe locks a mais de 10 minutos)':''}}</strong></c-card-header>
                <c-card-body class="bg-gradient">
                  <table style="background-color:#ffffff;"
                    [hover]="true"
                    [responsive]="true"
                    [striped]="true"
                    align="middle"
                    cTable
                    class="mb-0 border"
                  >
                    <thead cTableColor="light">
                    <tr>        
                      <th>Sid</th>
                      <th>Serial</th>          
                      <th>Usuario</th>
                      <th>Bloqueio</th> 
                      <th>Bloqueio Final</th> 
                      <th>Tempo</th>                
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let sessao of sessoesLocks; index as i">
                      <td class="text-align">
                        <span>{{ sessao.sid }}</span>
                      </td>
                      
                      <td class="text-align">
                        <span>{{ sessao.serial }}</span>
                      </td>
                      <td class="text-align">
                        <div>                                
                            <c-progress thin [height]="20">
                                <c-progress-bar
                                  [value]= "retornaTempoLock(sessao)"
                                    color="{{retornaCorLock(sessao)}}"
                                    class="overflow-visible text-dark px-2"
                                    [max] = "5"
                                > 
                                  <strong style="color:blue;">{{ sessao.username }}</strong>
                              </c-progress-bar>
                            </c-progress>
                        </div>                   
                      </td>
                      <td class="text-align">
                        <span>{{ sessao.lc_user }}</span>
                      </td> 
                      <td class="text-align">
                        <span>{{ sessao.lc_final_user }}</span>
                      </td> 
                      <td class="text-align">
                        <span>{{ retornaTempoLock(sessao) }} Min</span>
                      </td>             
                    </tr>
                    </tbody>
                  </table>
                </c-card-body>
              </c-card>
            </c-col>
          </c-row>
        </div>        
      <!--col-sm-6-->
      </div>
    </div>         
</div>