<div class="row">
  <div class="col-sm-12" >
    <div>
      <button mat-raised-button >
        Adicionar
      </button>
      &nbsp;
      <button mat-raised-button (click) = "search()">
        Recaregar
      </button>
    </div>

      <mtx-grid id="dtgrid"
            [data]="list"
            [columns]="columns"
            [rowStriped]="true"
            [showPaginator]="true"
            [pageSize]= "50"
            [noResultText]="noResult"
            [multiSelectable]="false"
            [hideRowSelectionCheckbox]="true"
            [rowSelectable] ="true"
            (rowSelectedChange)="changeSelect($event)"
            [loading]="isLoading"
            (page)="changeSelectPage($event)"
            [length]="total"
            [pageOnFront]="true"
            style="height: calc(100vh - 100px);"
       />
  </div>
</div>
